# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.php text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.md text eol=lf

# Files won’t be added to archive files.
.gitattributes export-ignore
.editorconfig export-ignore
.gitignore export-ignore
phpcs.xml export-ignore
/tests export-ignore
phpunit.xml.dist export-ignore
/.github export-ignore
package.json export-ignore
package-lock.json export-ignore
phpstan.neon.dist export-ignore
phpstan-baseline.neon export-ignore
phpunit-integration.xml.dist export-ignore
