.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;

    &__box {
        flex-basis: 49%;
        max-width: 49%;
    }
}

.schema-box {
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2em;
    overflow: hidden;

    h3 {
        margin: .5em 0;
        border-bottom: 1px solid grey;
        padding-bottom: .75em;
    }
}

.schema-data {
    &__title {
        display: block;
        padding: .5em;
        text-decoration: none;
        background-color: rgba(0,0,0,.05);
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: rgba(0,0,0,.10);
        }
    }

    &__tab {
        padding: 1em 1.5em;
        margin-left: .5em;
        border-left: 1px solid rgba(0,0,0,.1);

        & > li {
            line-height: 1.8;
        }
    }

    h4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
}

code {
    line-height: 1.65;

    &.block {
        display: block;
    }
}